Repository COSC-481W-Dodo/dodo-android, pull requests merged in 2022-10, with the labels that each got.

#41 Add Dagger & Navigation Dependencies | #40
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/dodo/flashcards/FlashcardsApplication.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  build.gradle
Labels: sprint 1

#42 Stub out authorization screens | #3 #6 #4
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/login_screen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/login_screen/LoginScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/login_screen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/register_screen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/register_screen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/register_screen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcome_screen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcome_screen/WelcomeScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcome_screen/WelcomeScreenViewModel.kt
Labels: screen welcome, screen login, screen register, sprint 1

#45 Clean up Router, add MainViewModel | #39
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainNavHost.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/login_screen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenViewModel.kt
Labels: firebase authentication, screen welcome, screen login, sprint 1

#46 Add crude login funct, connect login / register / welcome | #11 #8 #38
  app/src/main/java/com/dodo/flashcards/architecture/BaseRoutingViewModel.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/GetUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/LoginUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/LogoutUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/RegisterUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
  app/src/main/res/values/strings.xml
Labels: firebase authentication, screen welcome, screen login, screen register, sprint 1

#50 Crude forgot password implementation | #7 #9
  app/src/main/java/com/dodo/flashcards/data/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/domain/models/AuthRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/ForgotPassSendEmailUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainNavHost.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPass/ForgotPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPass/ForgotPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPass/ForgotPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
  app/src/main/res/values/strings.xml
Labels: firebase authentication, screen forgot pass, architecture, sprint 1

#51 feat: Crude username in registration impl | #32
  app/src/main/java/com/dodo/flashcards/data/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/domain/models/AuthRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/GetUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/RegisterUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
  app/src/main/res/values/strings.xml
Labels: screen welcome, screen register, sprint 1

#54 feat: Stub out navigation related to Edit Profile | #53
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainNavHost.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
Labels: screen welcome, architecture, sprint 1, screen edit profile

#55 refactor: Update UseCases & Repository to improve abstraction | #53
  app/src/main/java/com/dodo/flashcards/data/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/data/response/UserResponse.kt
  app/src/main/java/com/dodo/flashcards/domain/models/AuthRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/models/User.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/ForgotPassSendEmailUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/GetUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/LoginUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/LogoutUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/RegisterUserUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Resource.kt
  app/src/main/java/com/dodo/flashcards/util/Response.kt
Labels: firebase authentication, architecture, business logic, sprint 1

#58 feat: Add functional impl to edit username and password | #53
  app/src/main/java/com/dodo/flashcards/data/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/di/AppModule.kt
  app/src/main/java/com/dodo/flashcards/domain/models/AuthRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/UpdatePasswordUseCase.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/UpdateUsernameUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/UserUtils.kt
Labels: firebase authentication, sprint 1, screen edit profile

#59 style: Polish welcome, register, login UI | #33 #47 #48
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/theme/Color.kt
  app/src/main/java/com/dodo/flashcards/presentation/theme/Shape.kt
  app/src/main/java/com/dodo/flashcards/presentation/theme/Theme.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: screen welcome, screen login, screen register, sprint 1

#60 style: Update login & welcome screen UI | #33 #48
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/common/ScreenBackground.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/theme/Theme.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: screen welcome, screen login, sprint 1

#61 style: Clean up registration style | #47
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/common/ScreenBackground.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterIdle.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterSuccess.kt
  app/src/main/java/com/dodo/flashcards/presentation/theme/Theme.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/res/values/strings.xml
Labels: screen register, sprint 1

#63 refactor: Update custom text fields to use a type for code reuse | #33 #47 #49
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/common/TextFieldType.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotIdle.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterIdle.kt
Labels: sprint 1

#64 feat: Add error text to text field of forgot pass | #49
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotError.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotIdle.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/forgotPassScreen/ForgotPassViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
Labels: screen forgot pass, sprint 1

#65 feat: Text field error states on login screen
  app/src/main/java/com/dodo/flashcards/presentation/common/CustomOutlinedTextFields.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreenViewModel.kt
Labels: screen login, sprint 1

#66 feat: Add input error handling for registration | #47
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterIdle.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreenViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/UserUtils.kt
Labels: screen register, sprint 1

#68 feat: Edit E-mail functionality added | #67
  app/src/main/java/com/dodo/flashcards/data/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/domain/models/AuthRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/authentication/UpdateEmailUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainNavHost.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/EditProfileViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editEmail/EditEmailModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editEmail/EditEmailScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editEmail/EditEmailViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
Labels: sprint 1, screen edit profile

#69 feat: Add additional error handling | #52
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editPass/EditPassViewModel.kt
Labels: sprint 1

#70 feat: Add user input handling to edit username | #52
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/editProfileScreen/subscreens/editUsername/EditUsernameViewModel.kt
Labels: sprint 1, screen edit profile

#74 feat: Stub out View Tags screen | #71
  app/src/main/java/com/dodo/flashcards/presentation/MainNavHost.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/loginScreen/LoginViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/registerScreen/RegisterViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeViewModel.kt
  app/src/main/java/com/dodo/flashcards/util/Screen.kt
Labels: sprint 2

#78 refactor: Move flashcard mocking to a flashcard repository impl | #72
  app/src/main/java/com/dodo/flashcards/data/repository/FlashcardRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/di/AppModule.kt
  app/src/main/java/com/dodo/flashcards/domain/models/Flashcard.kt
  app/src/main/java/com/dodo/flashcards/domain/models/FlashcardRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/models/flashcard/FlashcardImpl.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/flashcards/GetFlashcardsUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewCardsScreen/ViewCardsModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewCardsScreen/ViewCardsViewModel.kt
Labels: sprint 2

#79 feat: Stub out navigation to view tags | #71
  app/src/main/java/com/dodo/flashcards/data/repository/FlashcardRepositoryImpl.kt
  app/src/main/java/com/dodo/flashcards/domain/models/FlashcardRepository.kt
  app/src/main/java/com/dodo/flashcards/domain/models/Tag.kt
  app/src/main/java/com/dodo/flashcards/domain/usecases/flashcards/GetTagsUseCase.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainActivity.kt
  app/src/main/java/com/dodo/flashcards/presentation/MainModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/viewTagsScreen/ViewTagsViewModel.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreen.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeScreenModels.kt
  app/src/main/java/com/dodo/flashcards/presentation/welcomeScreen/WelcomeViewModel.kt
Labels: sprint 2
